<div class="col-6" th:if="${professor != null}">
    <h3 class="text-center">Professor</h3>
    <p>
        <strong>Nome:</strong>&nbsp;
        <span th:text="${professor.nome}"></span>
    </p>
    <p>
        <strong>CPF:</strong>&nbsp;
        <span th:text="${professor.cpf}"></span>
    </p>
    <p>
        <strong>Salario:</strong>&nbsp;
        <span th:text="${professor.salario}"></span>
    </p>
    <p>
        <strong>Titulação:</strong>&nbsp;
        <span th:text="${professor.titulacao}"></span>
    </p>
    <p>
        <strong>Imposto de Renda:</strong>&nbsp;
        <span th:text="${professor.imposto}"></span>
    </p>

    <a class="btn btn-lg btn-primary btn-block" href="/">Voltar</a>
    <p class="mt-5 mb-3 text-muted">© Rodolfo Campos</p>
</div>

<div class="col-6" th:if="${administrativo != null}">
    <h3 class="text-center">Administrativo</h3>
    <p>
        <strong>Nome:</strong>&nbsp;
        <span th:text="${administrativo.nome}"></span>
    </p>
    <p>
        <strong>CPF:</strong>&nbsp;
        <span th:text="${administrativo.cpf}"></span>
    </p>
    <p>
        <strong>Salario:</strong>&nbsp;
        <span th:text="${administrativo.salario}"></span>
    </p>
    <p>
        <strong>Dependentes:</strong>&nbsp;
        <span th:text="${administrativo.dependentes}"></span>
    </p>
    <p>
        <strong>Contribuição Sindical:</strong>&nbsp;
        <span th:text="${administrativo.contribuicao}"></span>
    </p>

    <a class="btn btn-lg btn-primary btn-block" href="/">Voltar</a>
    <p class="mt-5 mb-3 text-muted">© Rodolfo Campos</p>
</div>
